<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 引入自定义的样式表 -->
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- 引入BootStrap的层叠样式表 -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <!-- 引入BootStrap的主题层叠样式表 -->
    <link th:href="@{/css/bootstrap.theme.css}" rel="stylesheet">
    <!-- 引入JQuery -->
    <script th:src="@{/js/jquery-3.3.1.js}" type="text/javascript"></script>
    <!-- 引入Bootstrap -->
    <script th:src="@{/js/bootstrap.js}" type="text/javascript"></script>
</head>
<body>
    <!-- Header Begin -->
    <div class="wrapper sticky_footer">
        <header>
            <div id="header">
                nihao
            </div>
        </header>
    </div>
    <!-- Header End-->

    <!-- Body Begin -->

    <!-- Body End -->

    <!-- Footer Begin -->

    <!-- Footer End -->
</body>
</html>